body{
    background-color:black;
}

h1{
    color:whitesmoke;
}

p{
    color: white;
}

/*this is sections break off*/
section 
{
    padding: 500px;
    margin-bottom: 10px; /* Space between sections */
    border-radius: 8px;   /* Optional rounded edges */
}

div {
    padding: 20px;
  }
  
.container .images .image-box{
    position: relative;
    height: 500px;
    width: 510px;
    border-radius: 100px;
}
.images .image-box img{
    height: 10%;
    width: 10%;
    border-radius: 10px;
}